* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(45, 45, 56);
    font-family: Helvetica, Arial, Sans-serif;
}

body,
html {
    height: 100%;
}

/* header style start */

header {
    padding: 20px;
    background-color: rgb(45, 45, 56);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    /* Sticky
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999; */

    /* TO Go Back to Norma, delete below and add sticky */
    /* background-image: url("../images/odaiba-beach.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

header div {
    background-color: rgb(143, 189, 207);
    width: 30%;
    right: 20px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: rgb(45, 45, 56);
    position: relative;
    right: 15px;
}

header a {
    text-decoration: none;
    color: rgb(45, 45, 56);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-right: 22px;
}

header nav ul li a {
    padding: 10px 10px 10px 22px;
    font-weight: lighter;
    font-size: 20px;
    color: rgb(143, 189, 207);
    border-bottom: solid 3px rgb(143, 189, 207);
    margin: 4px 2px 4px 15px;
}

header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

/* hero style start */

.hero {
    background-image: url(../images/odaiba-beach.jpg);
    background-repeat: no-repeat;
    height: 35%;
    background-position: 0 60%;
    background-size: cover;
    position: relative;

    /* Positions Subtitle */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;


}

.hero div {
    background-color: rgb(143, 189, 207);
    height: fit-content;
    padding: 10px;
    position: relative;
    right: 25px;
    opacity: 0.80;
    border-radius: 5px;
}

.hero h2 {
    font-size: 23px;
}

/* section style start */

section {
    padding: 25px;
}

.section-container {
    background-color: rgb(224, 224, 240);
}

.section-flexbox {
    display: flex;
    justify-content: center;
}

.section-title {
    flex: 1 5%;
    border-right: 4px solid rgb(45, 45, 56);
    width: 50px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.section-title h1 {
    padding: 2px 18px;
    color: rgb(91, 91, 124);
    font-size: 32px;
    text-align: right;
}

.section-content {
    flex: 1 70%;
}

.about-me-contents {
    width: 80%;
}

.portrait {
    width: 250px;
    margin: auto;
}

.portrait-img {
    width: 100%;
}

.paragraph {
    text-align: left;
    padding: 3px 0 3px 25px;
    font-size: 16px;
    color: rgb(91, 91, 124);
    text-align: 1.4;
}

/* Work Section Style Start */

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    height: 800px;
    margin-left: 25px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 15px 15px 0;
    position: relative;
}

.project-title {
    font-size: 22px;
    margin: 0 0 5% 0;
    line-height: 1.5;
    background-color: rgb(143, 189, 207);
    padding: 7px 7px 7px 7px;
}

.project1 {
    background-image: url(../images/runbuddycapture.PNG);
    background-position: 0% 0%;
    flex: 1 80%
}

.project2 {
    background-image: url(../images/plan-your-date-night.png);
    flex: 1 40%
}

.project3 {
    background-image: url(../images/plan-your-date-night.png);
    flex: 1 40%
}

.project4 {
    background-image: url(../images/plan-your-date-night.png);
    flex: 1 40%
}

.project5 {
    background-image: url(../images/plan-your-date-night.png);
    flex: 1 40%
}

.project-title::after {
    content: "";
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: rgba(88, 145, 167, 0.15);
    filter: brightness(96%);
    transition: .6s;
}

.project-title:hover::after {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
    filter: brightness(100%);
}
/* Work Styles End */

/* contact me style start */

.section-content ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 25px;
}

.section-content ul li {
    font-size: 19px;
    font-weight: bolder;
    padding: 15px 20px;
    color: rgb(91, 91, 124);
}

.section-content a {
    text-decoration: none;
    color: rgb(91, 91, 124);
}

.contact-content {
    width: 80%;
}

@media screen and (max-width: 980px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 575px) {
    header {
        position: relative;
    }
}
